@import "_fonts";

$fontMont: "Montserrat";

.reviews {
    padding: 100px;
    background: url('../img/svg/right-quote-sign.svg') no-repeat left top;
    background-size: 26%;
    .caption {
        margin-bottom: 110px;
    }
    &-block {
        position: relative;
        width: 980px;
        padding: 66px 0px 66px 66px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
        margin: 0px auto;
        display: flex;
        min-width: 0;
        background-color: white;
        .slider {
            min-width: 0;
            width: 64%;
            padding: 14px 60px;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            transition: .4s;
            overflow: hidden;
            z-index: 4;
            &__item {
                .comment {
                    width: 462px;
                    p {
                        font-family: $fontMont;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 1.2;
                        color: #050C33;
                        margin-top: 41px;
                        margin-bottom: 28px;
                    }
                }
                .person {
                    width: 462px;
                    span {
                        font-family: $fontMont;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #050C33;
                        opacity: 0.5;
                    }
                    a {
                        font-family: $fontMont;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #050C33;
                        text-decoration: underline;
                    }
                }
            }
    }
    .slick-track {
        display: flex;
        align-items: flex-start;
    }
    .slick__arrows {
        margin: auto;
        display: flex;
        .slick-arrow {
            width: 16px;
            height: 32px;
        }
        .slick-prev {
            background: url('https://drupal-coder.ru/themes/custom/bootstrap_dc/images/arrow-left.svg') no-repeat center;
            background-size: contain;
        }
        .slick-next {
            background: url('https://drupal-coder.ru/themes/custom/bootstrap_dc/images/arrow-right.svg') no-repeat center;
            background-size: contain;
        }
        .slick-slide-num {
            margin: 0px 43px;
            font-family: $fontMont;
            font-weight: 400;
            font-size: 28px;
            color: #e0e0e0;
        }
        .slick-slide-num-current {
            color: #050c33;
        }
    }
    }
    &-block::before {
        content: "";
        display: block;
        background: #fff;
        opacity: .5;
        border: 1px solid rgba(0,0,0,.1);
        box-sizing: border-box;
        box-shadow: 0 4px 60px rgb(162 162 162 / 25%);
        border-radius: 5px;
        position: absolute;
        top: -40px;
        bottom: 0;
        left: 64px;
        right: 64px;
        z-index: -1;
    }
    &-block::after {
        content: "";
        display: block;
        background: #fff;
        opacity: .34;
        border: 1px solid rgba(0,0,0,.1);
        box-sizing: border-box;
        box-shadow: 0 4px 60px rgb(162 162 162 / 25%);
        border-radius: 5px;
        position: absolute;
        top: -72px;
        bottom: 0;
        left: 128px;
        right: 128px;
        z-index: -2;
    }
}

@media (max-width: 480px) {
    .reviews {
        padding: 20px;
        &-body {
            .reviews-block {
                width: 100%;
                flex-direction: column;
                padding: 40px 10px;
                .slider {
                    border-right: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    padding: 0px;
                    width: 100%;
                    padding: 0px 10px 30px;
                    .comment {
                        width: 100%;
                    }
                    .person {
                        width: 100%;
                    }
                }
                .slick__arrows {
                    margin-top: 20px;
                }
            }
        }
    }
}